body,html{
	width: 100%;
	margin: 0;
}
ul,li{
	list-style: none;
	padding: 0;
	margin: 0;
}
a,a:link,a:visited,a:hover,a:active{
	text-decoration: none;
	color:#999;
}

.fl{
	float: left;
}
.fr{
	float: right;
}
.main{
	width: 1200px;
	position: relative;
	z-index: 10;
	margin-left: calc(50% - 600px);
}

.maincolor{
	color: #FF8800;
}

/*首页*/
header{
	font-size: 12px;
	color: #999999;
	background: #F3F3F3;
	
}
header a{
	color: #999999;
}
header #loginout{
	margin-left: 15px;
}
.dropdown-menu{
	background: #fff;
	min-width: auto;
	
}
.dropdown-menu>li>a{
	color: #999999;
}
.dropdown-menu>li{
	border-bottom: 1px solid #E5E5E5;
}

.dropdown-menu>li>a{
	color: black;
	background:white !important;
}
.dropdown-menu>li>a:hover{
	color:#FF8800 ;
}
#serchpu input{
	width: 520px;
	height: 40px;
	text-indent: 10px;
}
#serchpu{
	margin-top: 300px;
	text-align: center;
}
#serchpu button{
	width: 60px;
	height: 40px;
	background: #FF8800;
	color: white;
	border: none;
	margin-left: -4px;
}
.topserch{
	padding: 25px 0;
	
}
.topserch_box{
	border-bottom: 1px solid #E5E5E5;
}
.shop_name{
	font-size: 20px;
	color: #333333;
}
.topserch li:nth-child(1){
	padding-right: 15px;
	border-right: 1px solid #E5E5E5;
}
.topserch li:nth-child(2){
	padding-left: 15px;
}
.dropdown{
	position: relative;
	z-index: 10;
}
.buislogo{
	margin: 20px 0;
}
.glyphicon{
	top: calc(50% - 35px);
}
.comm-tip{
	color: #666666;
	font-size: 20px;
	border-bottom: 2px solid #F4F4F4;
	padding: 15px 0;
}
.comm-tip span{
	font-size: 16px;
}
.shop-show li{
	width: 25%;
	height: 245px;
	padding: 8px;
	float: left;
}
.shop-show li img{
	margin-bottom: 10px;
}
.shop-show li:hover{
	box-shadow: 5px 5px 20px #888888;
	-moz-box-shadow: 5px 5px 20px #888888;
}
footer{
	background: #6E6760;
	width: 100%;
	height: 150px;
	font-size: 16px;
	text-align: center;
	color: white;
	padding-top:50px;
	margin-top: 15px;
}
footer span{
	font-size: 12px;
}

/*登陆页面*/
.log-b{
	background: url(../img/login/background.jpg);
	background-size: 100% 100%;
	height: 600px;
	width: 100%;
}
.log-head {
	height: 70px;
	line-height: 70px;
}
.log-head img{
	width: 80px;
	height: 25px;
}
.log-head span{
	color: #FF8800;
	font-size: 30px;
	margin-left: 30px;
}
.log-b{
	position: relative;
}
.log-box{
	width: 330px;
	height: 324px;
	background: white;
	position: absolute;
	top: calc(50% - 172px);
	right: 10%;
	border-radius: 3px;
	padding: 10px 35px;
}
.log-box h3{
	font-size: 18px;
	font-weight: normal;
}
.log-box input{
	width: 100%;
	border: none;
	border-bottom: 1px solid #D9D9D9;
	height: 30px;
	outline: none;
	margin-bottom: 20px;
	text-indent: 10px;
}
.log-box .bb{
	width: 0%;
    border-bottom: 2px solid #57d9ff;
    margin: 0;
    margin-top: -21px;
    position: absolute;
    /*animation:mymove 2s infinite;*/
}

@keyframes mymove
{
from {width:0px;}
to {width:83%;}
}


#log-btn{
	width: 330px;
	height: 40px;
	border: none;
	background: #FF8800;
	color: white;
	border-radius: 3px;
}
.choo-tip,.choo-way,.choo-pc{
	position: absolute;
}
.choo-way,.choo-pc{
	right: 10px;
}
.choo-tip{
	right: 60px;
}
.log-box .thrd{
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	color: #999999;
}
.log-box .thrd img{
	position: absolute;
	margin-top: 5px;
	margin-left: 15px;
}
.log-box .box-bott{
	text-align: right;
}
.log-box .box-bott a{
	margin-left: 10px;
}
.stt{
	position: absolute;
    font-size: 12px;
    color: #ff5565;
    right: 35px;
    margin-top: -46px;
}
.strr{
	position: absolute;
    font-size: 12px;
    color: #ff5565;
    right: 35px;
    margin-top: -46px;
}
.erq{
	display: none;
	text-align: center;
}
.pc-tip{
	font-size: 18px;
	text-align: left;
	padding-left:113px;
}
.pc-tip img{
	position: absolute;
    margin-top: 8px;
    margin-left: -45px;
}
/*注册*/
.regist-header{
	background: white;
	width: 100%;
	height: 70px;
	border-bottom: 1px solid #E5E5E5;
	line-height: 70px;
}

.regist-header .maincolor{
	font-size: 30px;
	margin-left: 30px;
	margin-right: 20px;
}
.reg-tit{
	font-size: 18px;
	color: #333;
	/*float: left;*/
	padding-left: 20px;
	border-left: 1px solid #E5E5E5;
	margin: 0;
}
.reg-con{
	margin-top: 10px;
	background: white;
	text-align: center;
	padding: 35px 50px 100px 50px;
}
.reg-con .reg-title{
	padding-bottom: 40px;
	border-bottom: 1px dashed rgba(229,229,229,1);
}

.reg-form{
	margin-top: 30px;
}
.reg-form p{
	font-size: 14px;
	color: #333333;
}
.reg-form input{
	width: 300px;
	height: 36px;
	border:1px solid rgba(217,217,217,1);
	border-radius:2px;
	text-indent: 10px;
	margin-left: 15px;
}
.mainbtn{
    width: 330px;
    height: 40px;
    border: none;
    background: #FF8800;
    color: white;
    border-radius: 3px;
}
#sedbtn{
    width: 110px;
    height: 40px;
    background: rgba(237,241,232,1);
    border-radius: 2px;
    position: absolute;
    padding: 0;
    text-indent: 0;
    margin-left: -110px;
    background: #90CF3C;
    color: white;
    }
.hea-img{
	margin-right: 20px;
}

/*忘记密码*/
.reg-form2,.reg-form3,.reg-form4{
	display: none;
	font-size:14px ;
}
#nextbtn2{
	width:358px;
	height:36px;
	background:rgba(144,207,60,1);
	border:1px solid rgba(144,207,60,1);
	border-radius:2px;
	color:white;
	margin-top: 16px;
}
    
/*个人中心*/
 .main .gps{
   	font-size: 14px;
   	padding: 14px 0;
 }
 .per-coml{
 	width: 220px;
 	text-align: center;
 	float: left;
 }
  .per-coml .coml-top{
  	border: 1px solid #E5E5E5;
  	padding: 25px 15px 15px 10px;
  }
 .coml-top img{
 	width: 72px;
 	height: 72px;
 }
.coml-top p{
	font-size: 14px;
	color: #666;
}
.coml-top ul{
	border-top: 1px dashed #E5E5E5;
	margin-top: 25px;
	padding-top: 15px;
}
.coml-top ul li{
	float: left;
	color: #FF8800;
	width: 50%;
	text-align: center;
	cursor: pointer;
}
.coml-top ul li:nth-of-type(1){
	border-right: 1px solid #E5E5E5;
}
.accordion {
	width: 100%;
	max-width: 360px;
	margin: 15px auto 20px;
	background: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border: 1px solid #E5E5E5;
	padding: 0 15px;
}

.accordion .link {
	cursor: pointer;
	display: block;
	padding: 15px  0px;
	color: #333;
	font-size: 14px;
	border-bottom: 1px solid #ccc;
	position: relative;
	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
	text-align:left;
}
.accordion .link img{
	margin-right: 5px;
}

.accordion li:last-child .link {
	border-bottom: 0
}

.accordion li i {
	position: absolute;
	top: 16px;
	left: 12px;
	font-size: 18px;
	color: #595959;
	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease
}

.accordion li i.fa-chevron-down {
	right: 12px;
	left: auto;
	font-size: 16px
}

.accordion li.open .link {
	color: #b63b4d
}

.accordion li.open i {
	color: #b63b4d
}

.accordion li.open i.fa-chevron-down {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg)
}

.submenu {
	display: none;
	font-size: 14px
}

.submenu li {
	border-bottom: 1px solid #E5E5E5;
}

.submenu a {
	display: block;
	text-decoration: none;
	color: #666666;
	padding: 12px;
	-webkit-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
	text-align: left;
}

.per-comr{
 	width:960px;
 	/*text-align: center;*/
 	float: right;
 }
 .per-comr .per-serch{
 	width: 100%;
 	height: 40px;
 	text-indent: 10px;
 	border:1px solid #E5E5E5;
 }
.per-comr #per-bnt{
    width: 80px;
    height: 40px;
    background: rgba(255,136,0,1);
    color: white;
    border: none;
    margin-top: -40px;
    z-index: 10;
    position: absolute;
    right: 0px
}
.collection{
	border: 1px solid rgba(229,229,229,1);
	width:100%;
	/*height:233px;*/
	border-radius:2px;
	margin-top: 10px;
	padding: 20px;
}
.collection p{
	color: #666;
}
.collection p img{
	margin-right: 10px;
	
}
.collection li{
    width: 25%;
    float: left;
    font-size: 16px;
    margin-bottom: 10px;
}
.collection li img{
	width: 212px;
	height: 130px;
	margin-bottom: 5px;
}
.jian{
	display: none;
}

