body,html{
	width: 100%;
	margin: 0;
	position: relative;
}


ul,li{
	list-style: none;
	padding: 0;
	margin: 0;
}
a,a:link,a:visited,a:hover,a:active{
	text-decoration: none;
	color:#999;
}
footer{
	position: absolute;
	bottom: 0px;
}

.fl{
	float: left;
}
.fr{
	float: right;
}
.main{
	width: 1200px;
	position: relative;
	z-index: 10;
	margin-left: calc(50% - 600px);
}



.maincolor{
	color: #FF8800;
}
.grcolor{
	color: #80BE20;
}
.wei{
	font-weight: 800;
}
#havenone{
    position: absolute;
    right: 57%;
    top: 59px;
    background: rgba(0,0,0,0.5);
    color: white;
    width: 160px;
    height: 40px;
    text-align: center;
    font-size: 14px;
    line-height: 40px;
}

/*首页*/
header{
	font-size: 12px;
	color: #999999;
	background: #F3F3F3;
	
}
header a{
	color: #999999;
}
header #loginout{
	margin-left: 15px;
}
.dropdown-menu{
	background: #fff;
	min-width: auto;
	
}
.dropdown-menu>li>a{
	color: #999999;
}
.dropdown-menu>li{
	border-bottom: 1px solid #E5E5E5;
}

.dropdown-menu>li>a{
	color: black;
	background:white !important;
}
.dropdown-menu>li>a:hover{
	color:#FF8800 ;
}
#serchpu input{
	width: 520px;
	height: 40px;
	text-indent: 10px;
}
#serchpu{
	margin-top: 300px;
	text-align: center;
}
#serchpu .serchpu{
	width: 60px;
	height: 40px;
	background: #FF8800;
	color: white;
	border: none;
	margin-left: -4px;
	text-indent: 0px;
}
.topserch{
	padding: 25px 0;
	
}
.topserch_box{
	border-bottom: 1px solid #E5E5E5;
}
.shop_name{
	font-size: 20px;
	color: #333333;
}
.topserch li:nth-child(1){
	padding-right: 15px;
	border-right: 1px solid #E5E5E5;
}
.topserch li:nth-child(2){
	padding-left: 15px;
}
.dropdown{
	position: relative;
	z-index: 10;
}
.buislogo{
	margin: 20px 0;
}
.glyphicon{
	top: calc(50% - 35px);
}
.comm-tip{
	color: #666666;
	font-size: 20px;
	border-bottom: 2px solid #F4F4F4;
	padding: 15px 0;
}
.comm-tip span{
	font-size: 16px;
}
.shop-show li{
	width: 25%;
	height: 245px;
	padding: 8px;
	float: left;
}
.shop-show li img{
	margin-bottom: 10px;
}
.shop-show li:hover{
	box-shadow: 5px 5px 20px #888888;
	-moz-box-shadow: 5px 5px 20px #888888;
}
footer{
	background: #6E6760;
	width: 100%;
	height: 150px;
	font-size: 16px;
	text-align: center;
	color: white;
	padding-top:50px;
	margin-top: 15px;
}
footer span{
	font-size: 12px;
}
 
#pu-box{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	z-index: 20;
	display: none;
}
#pu-box div{
	width: 400px;
	height: 245px;
	background: white;
	text-align: center;
	margin-left: calc(50% - 200px);
	margin-top: 18%;
}
#clos-pu{
	position: absolute;
	margin-left: 212px;
}
.pu-img{
	margin-top: 35px;
	margin-bottom: 16px;
    border-radius: 35px;
}
#pu-box .pu-btn{
	width: 100px;
	margin-top: 16px;
}
#pu-box div span{
	font-size: 15px;
	color: #333;
}


/*登陆页面*/
.log-b{
	background: url(../img/login/background.jpg);
	background-size: 100% 100%;
	height: 600px;
	width: 100%;
}
.log-head {
	height: 70px;
	line-height: 70px;
}
.log-head img{
	width: 80px;
	height: 25px;
}
.log-head span{
	color: #FF8800;
	font-size: 30px;
	margin-left: 30px;
}
.log-b{
	position: relative;
}
.log-box{
	width: 330px;
	height: 324px;
	background: white;
	position: absolute;
	top: calc(50% - 172px);
	right: 10%;
	border-radius: 3px;
	padding: 10px 35px;
}
.log-box h3{
	font-size: 18px;
	font-weight: normal;
}
.log-box input{
	width: 100%;
	border: none;
	border-bottom: 1px solid #D9D9D9;
	height: 30px;
	outline: none;
	margin-bottom: 20px;
	text-indent: 10px;
}
.log-box .bb{
	width: 0%;
    border-bottom: 2px solid #57d9ff;
    margin: 0;
    margin-top: -21px;
    position: absolute;
    /*animation:mymove 2s infinite;*/
}

@keyframes mymove
{
from {width:0px;}
to {width:83%;}
}


#log-btn{
	width: 330px;
	height: 40px;
	border: none;
	background: #FF8800;
	color: white;
	border-radius: 3px;
}
.choo-tip,.choo-way,.choo-pc{
	position: absolute;
}
.choo-way,.choo-pc{
	right: 10px;
}
.choo-tip{
	right: 60px;
}
.log-box .thrd{
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	color: #999999;
}
.log-box .thrd img{
	position: absolute;
	margin-top: 5px;
	margin-left: 15px;
}
.log-box .box-bott{
	text-align: right;
}
.log-box .box-bott a{
	margin-left: 10px;
}
.stt{
	position: absolute;
    font-size: 12px;
    color: #ff5565;
    right: 35px;
    margin-top: -46px;
}
.strr{
	position: absolute;
    font-size: 12px;
    color: #ff5565;
    right: 35px;
    margin-top: -46px;
}
.erq{
	display: none;
	text-align: center;
}
.pc-tip{
	font-size: 18px;
	text-align: left;
	padding-left:113px;
}
.pc-tip img{
	position: absolute;
    margin-top: 8px;
    margin-left: -45px;
}
/*注册*/
.regist-header{
	background: white;
	width: 100%;
	height: 70px;
	border-bottom: 1px solid #E5E5E5;
	line-height: 70px;
}

.regist-header .maincolor{
	font-size: 30px;
	margin-left: 30px;
	margin-right: 20px;
}
.reg-tit{
	font-size: 18px;
	color: #333;
	/*float: left;*/
	padding-left: 20px;
	border-left: 1px solid #E5E5E5;
	margin: 0;
}
.reg-con{
	margin-top: 10px;
	background: white;
	text-align: center;
	padding: 35px 50px 100px 50px;
}
.reg-con .reg-title{
	padding-bottom: 40px;
	border-bottom: 1px dashed rgba(229,229,229,1);
}

.reg-form{
	margin-top: 30px;
}
.reg-form p{
	font-size: 14px;
	color: #333333;
}
.reg-form input{
	width: 300px;
	height: 36px;
	border:1px solid rgba(217,217,217,1);
	border-radius:2px;
	text-indent: 10px;
	margin-left: 15px;
}
.mainbtn{
    width: 330px;
    height: 40px;
    border: none;
    background: #FF8800;
    color: white;
    border-radius: 3px;
}
#sedbtn{
    width: 110px;
    height: 40px;
    background: rgba(237,241,232,1);
    border-radius: 2px;
    position: absolute;
    padding: 0;
    text-indent: 0;
    margin-left: -110px;
    background: #90CF3C;
    color: white;
    }
.hea-img{
	margin-right: 20px;
}

/*忘记密码*/
.reg-form2,.reg-form3,.reg-form4{
	display: none;
	font-size:14px ;
}
#nextbtn2{
	width:358px;
	height:36px;
	background:rgba(144,207,60,1);
	border:1px solid rgba(144,207,60,1);
	border-radius:2px;
	color:white;
	margin-top: 16px;
}
    
/*个人中心*/
 .main .gps{
   	font-size: 14px;
   	padding: 14px 0;
 }
 .per-coml{
 	width: 220px;
 	text-align: center;
 	float: left;
 }
  .per-coml .coml-top{
  	border: 1px solid #E5E5E5;
  	padding: 25px 15px 15px 10px;
  }
 .coml-top img{
 	width: 72px;
 	height: 72px;
 	border-radius: 36px;
 }
.coml-top p{
	font-size: 14px;
	color: #666;
}
.coml-top ul{
	border-top: 1px dashed #E5E5E5;
	margin-top: 25px;
	padding-top: 15px;
}
.coml-top ul li{
	float: left;
	color: #FF8800;
	width: 50%;
	text-align: center;
	cursor: pointer;
}
.coml-top ul li:nth-of-type(1){
	border-right: 1px solid #E5E5E5;
}
.accordion {
	width: 100%;
	max-width: 360px;
	margin: 15px auto 20px;
	background: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border: 1px solid #E5E5E5;
	padding: 0 15px;
}

.accordion .link {
	cursor: pointer;
	display: block;
	padding: 15px  0px;
	color: #333;
	font-size: 14px;
	border-bottom: 1px solid #ccc;
	position: relative;
	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
	text-align:left;
}
.accordion .link img{
	margin-right: 5px;
}

.accordion li:last-child .link {
	border-bottom: 0
}

.accordion li i {
	position: absolute;
	top: 16px;
	left: 12px;
	font-size: 18px;
	color: #595959;
	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease
}

.accordion li i.fa-chevron-down {
	right: 12px;
	left: auto;
	font-size: 16px
}

.accordion li.open .link {
	color: #b63b4d
}

.accordion li.open i {
	color: #b63b4d
}

.accordion li.open i.fa-chevron-down {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg)
}

.submenu {
	display: none;
	font-size: 14px
}

.submenu li {
	border-bottom: 1px solid #E5E5E5;
}

.submenu a {
	display: block;
	text-decoration: none;
	color: #666666;
	padding: 12px;
	-webkit-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
	text-align: left;
}

.per-comr{
 	width:960px;
 	/*text-align: center;*/
 	float: right;
 }
 .per-serch{
 	width: 55%;
 	height: 40px;
 	text-indent: 10px;
 	border:1px solid #E5E5E5;
 	margin-left: 100px;
 }
 #per-bnt{
    width: 80px;
    height: 40px;
    background: rgba(255,136,0,1);
    color: white;
    border: none;
    margin-top: 16px;
    z-index: 10;
    position: absolute;
    line-height: 40px;
}
.collection{
	border: 1px solid rgba(229,229,229,1);
	width:100%;
	/*height:233px;*/
	border-radius:2px;
	margin-top: 10px;
	padding: 20px;
}
.collection p{
	color: #666;
}
.collection p img{
	margin-right: 10px;
	
}
.collection li{
    width: 25%;
    float: left;
    font-size: 16px;
    margin-bottom: 10px;
}
.collection li img{
	width: 212px;
	height: 130px;
	margin-bottom: 5px;
}
.jian{
	display: none;
}
.reg-form4 p{
	position: relative;
}
.reg-form4 p img{
	position: absolute;
    margin-left: -38px;
    margin-top: -3px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #FF8800;
    cursor: default;
    background-color: #fff;
   /* border-bottom: 2px solid #FF8800;*/
    border-top: 0px;
    border-left: 0px;
    }

    
.nav-tabs>li>a:hover{
	background: white;
}
.nav-tabs>li>a{
    padding:0;
    text-align: center;
    border-right: 1px solid #D8D8D8;
    border-radius: 0;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 0px;
    color: #666666;
}
.nav-tabs>li{
    width: 78px;
    padding: 10px 0;
}
#myTabContent>div{
	padding: 15px 0;
}
#myTabContent input{
	height:40px;
	background:rgba(255,255,255,1);
	border:1px solid rgba(229,229,229,1);
	border-radius:2px;
	text-indent: 10px;
}
#myTabContent .serb{
	width: 410px;
}
#myTabContent .sers{
	width: 158px;
}
.sers-btn{
	width:60px;
}
#myTabContent table{
	width: 100%;
	text-align: center;
	font-size: 14px;
}
#myTabContent table th{
	text-align: center;
	padding: 10px 0;
	color: #FF8800;
	font-weight: normal;
}
#myTabContent table thead{
	background: #F8F8F8;
	margin-bottom: 20px;
}

.ddu{
	margin-top:15px;
	border:1px solid rgba(229,229,229,1);
	border-radius:2px;
	width: 100%;
}
.ddu .ddl1{
	background: #F8F8F8;
	color: #666666;
	padding-left: 10px;
	border-bottom: 1px solid #E5E5E5;
	padding: 6px 0 6px 18px;
}
.ddl2,.ddl3,.ddl4,.ddl5,.ddl6,.ddl7{
	text-align: center;
	padding: 20px 0;
	white-space: nowrap;
	overflow-x: hidden;
	text-emphasis: ;
}
.ddu .ddl2{
	width: 80px;
	border-right: 1px solid #E5E5E5;
	float: left;
}
.ddu .ddl3{
	width: 380px;
	border-right: 1px solid #E5E5E5;
	float: left;
	text-overflow: ellipsis;
}
.ddu .ddl4{
	width: 200px;
	border-right: 1px solid #E5E5E5;
	float: left;
}
.ddu .ddl5{
	width: 40px;
	border-right: 1px solid #E5E5E5;
	float: left;
}

.ddu .ddl6{
	width: 99px;
	border-right: 1px solid #E5E5E5;
	float: left;
}
.needbo{
	background:rgba(255,255,255,1);
	border:1px solid rgba(229,229,229,1);
	border-radius:2px;
	padding: 30px;
}

.needbo img{
	float: left;
}
.chan-info{
	margin-left: 15px;
	float: left;
}
.change-heabtn{
    background: none;
    border: none;
    outline: none;
    color: #82BE20;
    position: absolute;
    margin-top: -20px;
    z-index: 0;
}
#change-heabtn{
	opacity: 0;
    position: relative;
    z-index: 1;
}
.needbo .touxia{
	height: 110px;
	border-bottom: 1px dashed #E5E5E5;
}
.change-info{
	margin-top: 30px;
}
.change-info p span{
	font-size:14px ;
	color: #333333;
	font-weight: 800;
}
.change-info input{
	margin-left: 15px;
	width:300px;
	height:36px;
	background:rgba(255,255,255,1);
	border:1px solid rgba(217,217,217,1);
	border-radius:2px;
	text-indent: 10px;
}
.change-infobtn{
	width: auto;
	margin-left:72px;
}

/*商品列表*/
.list-input{
	width: 619px;
	height: 36px;
	border: 2px solid #FF8800;
	margin-top: 17px;
    position: relative;
    z-index:100;
}
.list-input li{
	float: left;
    height: 32px;
    border: none;
    border-right: 1px solid #E5E5E5;
    color: #666;
    outline: none;
    line-height: 32px;
    padding: 0 23px 0 5px;
    background: white;
    position: relative;
    cursor: pointer;
}
.list-input li img{
    position: absolute;
    right: 5px;
    top: 13px;
}
#per-bnt2 {
    width: 80px;
    height: 32px;
    background: rgba(255,136,0,1);
    color: white;
    border: none;
    z-index: 10;
    position: absolute;
    line-height: 32px;
}
#list-inputser{
	width: 203px;
	height: 32px;
	border: none;
	outline: none;
	float: left;
	text-indent: 10px;
}
.list-ult{
	margin: 20px 0;
}

.list-ult li{
	float: left;
	margin-left: 20px;
}
.list-ult a{
	color: #666666;
	font-size: 16px;
}
.list-ult li:hover{
	color: #FF8800;
	text-decoration: underline;
}
.overline{
	border-top: 1px solid #E5E5E5;
	margin: 0;
	width: 100%;
}
.main-buy{
	margin-top: 20px;
	border: 1px solid #90CF3C;
	color: #999999;
}
.main-buy th{
	text-align: center;
	background: white;
	border-bottom: 1px dashed #E5E5E5;
	height: 30px;
}
.main-buy td{
	text-align: center;
	height: 68px;
	background: #F9FFF0;
}
.main-buy td img{
	margin-right: 20px;
}
.main-buy td input{
	width:150px;
	height:36px;
	background:rgba(255,255,255,1);
	border:1px solid rgba(216,216,216,1);
	border-radius:2px;
	text-indent: 10px;
	margin-right: 10px;
}
.main-buy button{
	padding: 7px 14px;
	color: white;
	background: #90CF3C;
	border-radius: 3px;
	border: none;
}
.se-buy{
	color: #999999;
	margin-top: 20px;
	margin-bottom: 50px;
}
.se-buy tr td:first-child{
	color: black;
}

.se-buy th{
	background: #F8F8F8;
	height: 40px;
}
.se-buy button{
	padding: 7px 14px;
	color: #FF8800;
	border-radius: 3px;
	border: 1px solid #FF8800;
	background: none;
}

.se-buy td{
	padding: 10px 0;
}

.se-buy tbody tr{
	border-bottom: 1px solid #E5E5E5;
}
.list-men{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	background: rgba(0,0,0,0.5);
	z-index: 20;
	display: none;
}
.list-men .list-mencon{
    background: url(../img/shop/kuang.png);
    width: 1200px;
    height: 207px;
    position: absolute;
    top: 75px;
    left: -26px;
}
.list-men .list-mencon ul{
	padding:20px 10px 10px 10px;
}
.list-men .list-mencon li{
	float: left;
	width: 72px;
	text-align: center;
	height: 25px;
	line-height:25px;
	border-radius: 30px;
	margin: 5px 9px;
	cursor: pointer;
}
.list-men .list-mencon li:hover{
	background: #FF8800;
	color: white;
}
.list-mencon button{
	width: 72px;
	height: 25px;
	line-height: 20px;
	border-radius: 30px;
	margin: 5px 10px;
	border: 2px solid #e5e5e5;
	background: none;
}
.list-mencon p{
	border-bottom: 1px solid #E5E5E5;
	height: 50px;
	line-height: 50px;
	margin: 0;
	display: none;
}
#game{
	width: 113px;
	overflow: hidden;
}
#place1{
	width: 71px;
	overflow: hidden;
}
#place2{
	width: 79.8px;
	overflow: hidden;
}
#currency{
	width: 71px;
	overflow: hidden;
}
.list-topcon .change-way{
	height: 40px;
	line-height: 40px;
	color: #82BE20;
	margin: 0;
}
.list-topcon .change-way img{
	margin-right: 8px;
	cursor: pointer;
}
.list-topcon .change-way span{
	cursor: pointer;
}
.list-topcon table{
	float: left;
	width: calc(100% / 3);
	border: 1px solid rgba(229,229,229,1);
	border-right: none;
	margin-bottom: 10px;
}
.list-topcon table td,.list-topcon table th{
	border: none;
	height: 30px;
	padding-left: 20px;
}
.list-topcon table th{
	border-bottom: 1px solid rgba(229,229,229,1);
	background: #f8f8f8;
	font-size: 14px;
	color: #999999;
	font-weight: normal;
}
.list-topcon table td{
	border-bottom: 1px dashed rgba(229,229,229,1);
}
.list-topcon table:last-of-type{
	border-right: 1px solid #e5e5e5;
}
.list-topcon table tr{
	cursor: pointer;
}
#second-class li{
	width: 80px;
	text-align: center;
	height: 34px;
	line-height: 34px;
	float: left;
}
#second-class{
	width:100%;
	height: 70px;
	border: 1px solid #e5e5e5;
	overflow: hidden;
}
#second-class .second-class1{
	width: 65px;
	height: 68px;
	background: #f8f8f8;
	line-height: 68px;
}
#second-class li{
	cursor: pointer;
}
#thr-class li{
	width: 80px;
	text-align: center;
	height: 34px;
	line-height: 34px;
	float: left;
}
#thr-class{
	width:100%;
	height: 100px;
	border: 1px solid #e5e5e5;
	overflow: hidden;
	margin-bottom: 20px;
	display: none;
}

#thr-class .thr-class1{
	width: 65px;
	height: 102px;
	background: #f8f8f8;
	line-height: 102px;
}

#four-class li{
	width: 80px;
	text-align: center;
	height: 40px;
	line-height: 40px;
	float: left;
}
#four-class{
	width:100%;
	height: 40px;
	border: 1px solid #e5e5e5;
	overflow: hidden;
	margin-bottom: 20px;
	display: none;
}

#four-class .four-class1{
	width: 65px;
	height: 40px;
	background: #f8f8f8;
	line-height: 40px;
}
.current{
	background: #FF8800 !important;
	color: white;
	border-color: #FF8800 !important;
}
.list-mencon p button{
	outline: none;
}
#thr-class li,#four-class li{
	cursor: pointer;
}

/*确认订单*/
.order-way{
	position: absolute;
	right: 0px;
	margin-top: 10px;
}
.dete-con h5{
	font-size: 16px;
	color: #666;
	border-left: 4px solid #ff8800;
	padding-left: 20px;
	border-radius: 3px;
	margin-top: 30px;
}
.dete-con p{
	color: #333;
	font-size: 14px;
	height: 50px;
	line-height: 50px;
}
.dete-con p input{
	width:300px;
	height:36px;
	background:rgba(255,255,255,1);
	border:1px solid rgba(217,217,217,1);
	border-radius:2px;
	text-indent: 10px;
}
.dete-con p span{
	display: block;
	float: left;
	width: 72px;
	text-align: center;
	margin-right: 5px;
}
.dete-con table{
	width: 100%;
}

.dete-con table th{
	height: 45px;
	line-height: 45px;
	color: #999999;
	font-size: 14px;
	border-bottom: 1px solid #E5E5E5;
	font-weight: normal;
	text-align: center;
}
.dete-con table th:first-child{
	text-indent: 140px;
	text-align: left;
}
.dete-con table td{
	height: 100px;
	line-height: 100px;
	background: #FAFAFA;
	text-align: center;
}
.dete-con table td:first-child{
	text-indent: 60px;
	text-align: left;
}
.dete-con table td:last-child{
	font-weight: 800;
}
.dete-con table td span{
	display: block;
	float: left;
	height: 26px;
	line-height: 26px;
}
.dete-con table td img{
	height: 26px;
	margin-top: -2px;
}
.dete-con table td #show-numinpu{
	width: 46px;
	border: 1px solid rgba(216,216,216,1);
	text-align: center;
	background: white;
	height: 26px;
	float: left;
}
.dete-con .togrther{
	height: 40px;
	background: #FCFDE6;
	text-align: right;
	color: #666;
	font-size: 14px;
	line-height: 40px;
}
.dete-con .togrther span:first-child{
	color: #80BE20;
}
.dete-con .togrther .tognum{
	color: #ff8800;
	font-size: 24px;
	font-weight: 800;
}
.dete-con .togrther button{
	width: 120px;
	margin-left: 20px;
}
.orsecon h3 p{
	float: left;
	padding-right: 20px;
	border-right: 1px solid #e5e5e5;
}
.orsecon .nebig{
	font-size: 18px;
	font-weight: 800;
}
.orsecon .nesma{
	font-size: 14px;
	color: #888888;
}
.orsecon h3 .orsecon2p{
	border: none;
	padding-left: 20px;
	margin-top: 0px;
}
.orsecon h3{
	border-bottom: 1px dashed #e5e5e5;
	margin-top: 30px;
	margin-bottom: 25px;
}
.orsecon>p{
	height: 30px;
	line-height: 30px;
	padding-left: 100px;
}
.orsecon>p:last-of-type{
	text-align: right;
}
.orsecon>p .wei{
	font-size: 24px;
}
.order-tab{
	padding-left: 10px;
}
.order-tab li{
	border-right: none;
}
.order-tab li a{
	border: none !important;
}
#weixin,#zhi{
	height: 295px;
	background: #f8f8f8;
	text-align: center;
}
#weixin img,#zhi img{
	margin: 10px 0 20px 0;
}
.orthcon{
	text-align: center;
}
.orthcon h3 span{
	border-right: 1px solid #e5e5e5;
	padding-right: 10px;
	margin-right: 5px;
}
.orthitc{
	width: 100%;
	padding-left: calc(50% - 215px);
	margin-top: 50px;
}
.orthitc ul{
	width: 430px;
	text-align: left;
	margin-bottom: 50px;
}
.orthitc ul li{
	height: 30px;
	line-height: 30px;
	color: #999;
}
.orthitc ul span{
	float: right;
}
.orthcon a{
	color: #80BE20;
	border-bottom: 1px solid #80BE20;
}
#myTab{
	margin-top: 25px;
}
#myTab .tip{
	font-size: 16px;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 20px;
}
#myTab li{
	float: left;
}
#myTab li:last-of-type{
	margin-left: 15px;
}

#weixin,#payOnline{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	z-index: 1000;
}
#myTab li img{
	border: 1px solid #e5e5e5;
}
#myTab li img:hover{
	border-color: #FF8800;
}
#weixin .weixincon,#payOnline .payOnlinecon{
	width: 370px;
	background: white;
	position: absolute;
	left: calc(50% - 185px);
	top: 20%;
	height: 440px;
}
#weixin .weixincon p,#payOnline .payOnlinecon p{
	background: #f5f5f5;
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
}
#weixin .weixincon p img,#payOnline .payOnlinecon p img{
	float: right;
}
#payOnline .payOnlinecon p img{
	margin-top: 10px;
}
#weixin .weixincon>img,#payOnline .payOnlinecon>img{
	margin-top: 80px;
	margin-bottom: 30px;
}

#payOnline .payOnlinecon{
	width: 496px;
}
#payOnline .fr{
	font-size: 16px;
	color: #757575;
	width: 220px;
	margin-top: 100px;
	line-height: 35px;
	padding-right: 55px;
}
#payOnline .fr h4{
	line-height: 35px;
	/*border-bottom: 1px solid #eee;*/
	padding-bottom: 16px;
}
#payOnline .fr a{
	font-size: 14px;
	color: #FF8400;
}
