.tntreebox * {
	box-sizing: border-box;
	font-size: 13px!important
}

.tntreebox {
	clear: both;
	/*background:rgba(0,0,0,0.5);*/
	background: transparent;
	text-align: left
}

.tntreebox .list {
	/*min-width: 190px;
	max-width: 600px;*/
	height: 300px;
	float: left
}

.tntreebox input[type=checkbox],
.tntreebox em {
	width: 16px;
	height: 16px;
	vertical-align: middle;
	margin-right: 10px!important;
	display: inline-block;
	margin-top: 5px;
	float: left;
	opacity: 1!important
}

.tntreebox .box {
	width: 200px!important;
	height: 400px;
	overflow: auto;
	float: left;
	border-right: 1px solid #ddd;
	border-top: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
	background: white;
	margin-left:10px;
}


.tntreebox .box:first-child {
	border-left: 1px solid #dcdcdc;
	/*margin-left:0px;*/
}

.tntreebox ul {
	margin: 0;
	padding: 0
}

.tntreebox li {
	list-style-type: none;
	height: 35px;
	line-height: 35px;
	padding: 0 10px;
	cursor: pointer;
	overflow: none;
	color: #666;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.tntreebox li:hover,
.tntreebox .cur {
	color: #FF8800;
}

.tntreebox li:hover,
.tntreebox .blue {
	color: #FF8800;
}

.tntreebox .selected {
	color: #FF8800;
}

.tntreebox .search {
	width: 98%;
	height: 90%;
	border: 0
}

.tntreebox .hide,
.tntreebox .hide2 {
	display: none
}

.tntreebox label {
	line-height: 35px;
	vertical-align: middle;
	margin: 0!important;
	cursor: pointer;
	float: left
}

.tntreebox .children span:before {
	content: ">";
	display: block;
	right: 0;
	width: 20px;
	height: 35px;
	float: right
}

.tntreebox .header {
	width: 300px;
	position: relative;
	height: 300px;
	overflow-x: hide;
	overflow-y: auto;
	border: 1px solid #ddd;
	float: right;
	margin-top: 0!important
}

.tntreebox .header div,
.tntreebox .header a {
	display: block;
	float: left;
	padding: 0 10px;
	margin: 5px;
	height: 26px;
	line-height: 21px;
	color: #666;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.tntreebox .header div span,
.tntreebox .header a {
	cursor: pointer
}

.tntreebox .header div {
	background-color: #f4f4f4;
	border-radius: 5px
}

.tntreebox .header div span {
	padding: 5px 0 5px 5px;
	margin: 0 0 0 10px;
	font-size: 20px
}


.tntreebox li{
	border-bottom: 1px solid #E5E5E5;
	
}
.tntreebox ul{
	padding: 10px 20px;
}
#treebox{
	min-width:800px;
	margin: 100px auto;
	height:100%;
	position: absolute;
	top: -100px;
	margin-left: calc(50% - 600px);
}
.box{
	display: none;
}
#close{
	position: absolute;
	top: 0;
	right: 0;
	display: none;
}
